<a href="https://colab.research.google.com/github/Rokaiya186/django_with_python_by_edge/blob/main/assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [ ]:
name = "Rokaiya"
age = "24"
txt = 'Her name is {} and she is {} years old'
print(txt.format(name, age))
print(f'Her name is {name} and she is {age} years old')

Her name is Rokaiya and she is 24 years old
Her name is Rokaiya and she is 24 years old

In [ ]:
x = "awesome"
def myfunc():
  global x
  x = "fantastic"
myfunc()
print("Python is " + x)

Python is fantastic

In [ ]:
x = "q"
y = "r"
 text = text.format(x,colon, y )
print(text)

IndentationError: unexpected indent (<ipython-input-2-4a47b8181f2a>, line 3)

In [1]:


# Define variables with different data types
integer_number = 10          # Integer
float_number = 3.14          # Float
string_text = "Hello, Python!"  # String

# Perform operations using these variables
sum_result = integer_number + float_number  # Add integer and float
product_result = integer_number * 2         # Multiply integer

# Print the variables and their data types
print("Integer Number:", integer_number, "| Type:", type(integer_number))
print("Float Number:", float_number, "| Type:", type(float_number))
print("String Text:", string_text, "| Type:", type(string_text))

# Print the results of operations
print("Sum of Integer and Float:", sum_result)
print("Product of Integer and 2:", product_result)

Integer Number: 10 | Type: <class 'int'>
Float Number: 3.14 | Type: <class 'float'>
String Text: Hello, Python! | Type: <class 'str'>
Sum of Integer and Float: 13.14
Product of Integer and 2: 20

In [ ]:
a = [i for i in range(1, 12, 3)]
print(a)

[1, 4, 7, 10]

In [ ]:
li = []
j = 0
for i in range(6):
  i+=j
  j+i
  complex(i,j)

In [ ]:
j = 0
for i in range(6):
  j+=1
  print(j)

1
2
3
4
5
6