<a href="https://colab.research.google.com/github/Rokaiya186/django_with_python_by_edge/blob/main/practise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [ ]:
name = "Rokaiya"
age = "24"
txt = 'Her name is {} and she is {} years old'
print(txt.format(name, age))
print(f'Her name is {name} and she is {age} years old')

Her name is Rokaiya and she is 24 years old
Her name is Rokaiya and she is 24 years old

In [ ]:
x = "awesome"
def myfunc():
  global x
  x = "fantastic"
myfunc()
print("Python is " + x)

Python is fantastic

In [2]:
x = "q"
y = "r"
 text = text.format(x,colon, y )
print(text)

IndentationError: unexpected indent (<ipython-input-2-4a47b8181f2a>, line 3)

In [4]:
a = [i for i in range(1, 12, 3)]
print(a)

[1, 4, 7, 10]

In [5]:
li = []
j = 0
for i in range(6):
  i+=j
  j+i
  complex(i,j)

In [3]:
j = 0
for i in range(6):
  j+=1
  print(j)

1
2
3
4
5
6